body {
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.navbar {
background-color: #ffffff;
height: 60px;
display: flex;
align-items: center;
justify-content: center;
}

.navbar ul {
list-style: none;
display: flex;
align-items: center;
justify-content: center;
}

.navbar li {
margin: 0 15px;
}

.navbar a {
color: #000000;
font-size: 14px;
text-transform: uppercase;
text-decoration: none;
padding: 10px 20px;
}

.navbar a:hover {
border-bottom: 2px solid #000000;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

.c-product{
    position: relative;
    margin-right: -200px;
    padding: 80px;
}

.product {
    background-color: #f0f0f0;
    border: 1px solid #d9d9d9;
    display: inline-block;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: calc(25% - 20px);
}

.product img {
    max-width: 75%;
}
.product h3 {
    font-size: 22px;
    margin-bottom: 10px;
}
.product h1 {
    font-size: 34px;
    margin-bottom: 10px;
}
.product p {
    font-size: 16px;
    margin-bottom: 10px;
}
.footer {
    background-color: #f0f0f0;
    border-top: 1px solid #d9d9d9;
    color: #999999;
    font-size: 15px;
    padding: 1px;
    text-align: center;
}